/CrimsonKeep/Library/ShaderCache/a/*.bin
/CrimsonKeep/Library/ShaderCache/d/*.bin
/CrimsonKeep/Library/ShaderCache/f/*.bin
/CrimsonKeep/Library/metadata/07/*
/CrimsonKeep/Library/metadata/07/*.info
/CrimsonKeep/Library/metadata/0c/*
/CrimsonKeep/Library/metadata/0c/*.info
/CrimsonKeep/Library/metadata/17/*
/CrimsonKeep/Library/metadata/17/*.info
/CrimsonKeep/Library/metadata/52/*
/CrimsonKeep/Library/metadata/52/*.info
/CrimsonKeep/Library/metadata/81/*
/CrimsonKeep/Library/metadata/81/*.info
/CrimsonKeep/Library/metadata/a2/*
/CrimsonKeep/Library/metadata/a2/*.info
/CrimsonKeep/Library/metadata/c5/*
/CrimsonKeep/Library/metadata/c5/*.info
/CrimsonKeep/Library/metadata/36/*
/CrimsonKeep/Library/metadata/36/*.info
/CrimsonKeep/Library/metadata/3b/*
/CrimsonKeep/Library/metadata/3b/*.info
